/**
 * Figures
 */
figure > img {
    display: block;
    url: {{site.url}};
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Icons
 */
.icon {
    display: block;
    > svg {
        display: block;
    }
}
